@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  padding: 0px;
  /* margin: 0px; */
  box-sizing: border-box;
  font-family: "Outfit";
}

.outfit-googlefont {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: #ffffff;
  height: 400px;
  width: 250px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: #1f314f;
  width: 200px;
  text-align: center;
  font-size: 15px;
}
.description {
  font-size: 15px;
  font-weight: 400;
  color: #818ca1;
  width: 200px;
}

.qr_img {
  margin-top: 10px;
  border-radius: 20px;
  padding: 5px;
}
